<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
	    <script src="node_modules/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href={Astro.resolve('../styles/styles.css')} />
    <title>Document</title>
</head>
<body>

    <nav class="main-nav">
        <a href="/cssgrid">CSS Grid</a>
        <a href="/flexbox">Flexbox</a>
    </nav>
    <slot />
</body>
</html>